/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2017, 12:31:59 PM
    Author     : r_v21
*/

.main
{
    border: 1px solid;
    margin: 10px auto;
    width: 85%;
    height: fit-content;
    overflow: hidden;
}

.secondary
{
    border-bottom: 1px solid;
    padding: 25px 10px 10px;
}

.ternary
{
    padding: 30px 50px;
    width: 95%;
    overflow: auto;
    margin: auto;
}

.empbox
{
    width: 270px;
    height: 150px;
    padding: 5px 0px 5px 15px;
    margin: 5px;
    overflow: auto;
    border: 1px solid;
    float: left;
}